/* * Name: media.css * Date:November 24, 2018 * Author: Jennifer Brady * /
/* Illustration of @media query for break points */
/*small mobile screen size*/
 @media only screen and (max-width: 575px) and (orientation:portrait){
    /* remove formatting & set container as flex table */
     #dashboard-container{
         display:flex;
         flex-direction: column;
         margin: auto;
         padding: unset;
         border: unset;
         box-shadow: unset;
         height: auto;
    }

    #application-body{
      margin:0;
      background-image: none;
      font-size: xx-small;
    }
     .general-topbar-div {
         width:100%;
    }
    /* Remove Title*/
     #dashboard-topbar-meta{
         display:none;
    }
    /* Reorder page with links on bottom & button selections on top*/
     #dashboard-container > #dashboard-section{
         order:1;
    }
     #dashboard-container > #dashboard-topbar {
         order:2;
         text-align: center;
    }
     #dashboard-topbar-navlinks-holder{
         float:none;
    }
    /* Set ledger container to flex & move buttons to top*/
     #dashboard-section.general-flex-justify{
         display:flex;
         flex-direction: column;
         margin:unset;
    }
     #dashboard-section.general-flex-justify > #dashboard-sidebar{
         order:1;
         display: inline;
         columns: 4;
         width: auto;
         padding-right: 0;
    }
     #dashboard-section.general-flex-justify > #dashboard-ledger {
         order:2;
         margin:unset;
    }
     .general-container{
         margin-top: 0px;
    }
     .general-action-button{
         font-size: 8pt;
         border-radius: 0;
    }
     .general-action-button:hover{
         font-size: 8pt;
         border-radius: 0;
    }
    /* Convert Ledger table to columns with Headers as labels */
     table, thead, tbody, th, td, tr {
         display:block;
    }
     tr {
         border: 1px solid #ccc;
    }
     td {
        /* Behave like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 50%;
    }
    /*remove 1st table row*/
     tr:first-child{
         display:none;
    }
     table{
         empty-cells: hide;
    }
     td:before {
        /* Now like a table header */
         position: absolute;
        /* Top/left values mimic padding */
         top: 6px;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
    }
     td:nth-of-type(1):before {
         content: "Delete";
    }
     td:nth-of-type(2):before {
         content: "Number";
    }
     td:nth-of-type(3):before {
         content: "Account";
    }
     td:nth-of-type(4):before {
         content: "Debit";
    }
     td:nth-of-type(5):before {
         content: "Credit";
    }
     td:nth-of-type(6):before {
         content: "Memo";
    }
     td:nth-of-type(7):before {
         content: "Name";
    }
     td:nth-of-type(8):before {
         content: "Date";
    }
    /*Change Table Colors*/
     #dashboard-ledger-table tr:nth-child(even) {
         background-color:#ffffff;
    }
     #dashboard-ledger-table tr:nth-child(odd) {
         background-color: #lightgray;
    }
    /*resize login container & center/stack buttons*/
     #login-container{
         width:95%;
         margin:unset;
    }
     #login-footer-buttons-holder{
         display:block;
    }
     .general-big-button{
         display:block;
         margin: auto;
         margin-bottom: 10px;
    }
}
 @media only screen and (max-width: 575px) and (orientation:landscape){
     #dashboard-container{
         display:flex;
         flex-direction: column;
         margin: auto;
         padding: unset;
         border: unset;
         box-shadow: unset;
         height:auto;
    }

    #application-body{
      margin:0;
      background-image: none;
      font-size: xx-small;
    }
    /* Remove Title*/
     #dashboard-topbar-meta{
         display:none;
    }
    /* Reorder page with links on bottom & button selections on top*/
     #dashboard-container > #dashboard-section{
         order:1;
    }
     #dashboard-container > #dashboard-topbar {
         order:2;
         text-align: center;
    }
     #dashboard-topbar-navlinks-holder{
         float:none;
    }
    /* Set ledger container to flex & move buttons to top*/
     #dashboard-section.general-flex-justify{
         display:flex;
         flex-direction: column;
         margin:unset;
    }
     #dashboard-section.general-flex-justify > #dashboard-sidebar{
         order:1;
         display: inline;
         columns: 4;
         width: auto;
         padding-right: 0;
    }
     #dashboard-section.general-flex-justify > #dashboard-ledger {
         order:2;
         margin:unset;
    }
     .general-container{
         margin-top: 0px;
    }
     .general-action-button{
         font-size: 8pt;
         border-radius: 0;
    }
     .general-action-button:hover{
         font-size: 8pt;
         border-radius: 0;
    }
     #login-container{
         margin-top:auto;
    }
     .login-general-title-extra-padding{
         padding:5px;
    }
}
 @media only screen and (min-width: 576px) and (max-width:767px) {
   #application-body{
     margin:0;
     background-image: none;
     font-size: x-small;
   }

   .general-container{
     margin-top:0;
   }
     #dashboard-container {
         width: 750px;
    }
     #login-container{
         margin-top:auto;
    }
     .login-general-title-extra-padding{
         padding:10px;
    }
}
 @media only screen and (min-width: 768px) and (max-width: 990px) {
   #application-body{
     margin:0;
     background-image: none;

   }


     #dashboard-container {
         width: 750px;
    }
     #login-container{
         margin-top:auto;
    }
     .login-general-title-extra-padding{
         padding:10px;
    }
}
 @media only screen and (min-width: 991px) and (max-width: 1198px) {
     #dashboard-container {
         width: 950px;
    }
    #application-body{
      margin:0;
      background-image: none;
    }

}
 @media only screen and (min-width: 1199px) {
     #dashboard-container {
         width: 1170px;
    }
}

@media print {

  /* Remove sidebar, navlinks, subitle*/
  #dashboard-sidebar, #general-topbar-meta-subtitle, #dashboard-topbar-navlinks{
    display:none;
  }

/*center title*/
  .general-topbar-div{
    width:100%;
    text-align:center;
  }

#application-body{
  color: black;
  background: white;
  width:100%;
  margin:0;
  padding:0;
}

/*set page size to A4 & landsacpe orientation*/
@page{
  size:A4 landscape;
  margin: 2cm;
}

/*remove scroll so table can print full size*/
#dashboard-ledger{
  height:auto;
  overflow: visible;

}


  #dashboard-ledger-table tr:nth-child(odd){
    background-color: white;
  }
  #dashboard-ledger-table tr:nth-child(even){
    background-color: lightgray;
  }

  table,  td{
    border-collapse: collapse;
    border:1px solid black;
    font-size: 10pt;
    page-break-inside: auto;
  }

  tr{
    page-break-inside: avoid;
    page-break-after: auto;
  }

th{
  text-align: center;
}

/*remove delete column*/
td:first-child{
  display:none;
}
